@import url(fonts.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: rgba(245, 251, 252, 1);
}
.container{
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-1{
    background: var(--blueColor);
    height: 50px;
  display: flex;
  align-items: center;
}
.nav-2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    align-items: center;
    transform: translateY(10%);
    transition: 500ms;

}
.nav-link{
    margin: 15px;
    font-family: var(--interReg);
    transition: 300ms;
    color: black;
}
.nav-link:hover{
    color: var(--blueColor);
}
.nav-1 p{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--interReg);
    align-items: center;
}
:root{
    --blueColor: #35B8BE;
    --interReg: Inter-Regular ;
    --interL: Inter-Light;
}

.nav-content{
    display: flex;
    align-items: center;
}
.nav-content i{
    color: white;
    font-size: 25px;
    transition: 300ms;
    padding: 10px;
    border-radius: 5px;
    background: var(--blueColor);
    border: 1px rgb(31, 203, 212) solid;


}
.nav-content i:hover{
    background: transparent;
    color: #35B8BE;
}
.title-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-1 p{
    color: #546285;
    font-size: 18px;
    width: 600px;
    line-height: 24px;
    letter-spacing: 0.36px;
    font-family: var(--interL);

}
.title-1 i{
    color: #00B67A;
    font-size: 20px;
}
.title-1 p{
    font-family: var(--interReg);
    width: 470px;
}
.title-1 span{
    color: var(--blueColor);
}
.header-content{
    display: flex;
}
.header-content img{
    margin-left: 20px;
    position: relative;
    /* z-index: -1; */
    left: -15px;
}
h1{
    font-family: var(--interL);
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 60px;
    letter-spacing: 1.8px;
}

h1 span{
    color: var(--blueColor);
}
.link{
    background: var(--blueColor) ;
    padding: 20px 35px 20px 35px;
    margin-top: 20px;
    font-family: var(--interL);
    width: 193px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    border: 1px rgb(31, 203, 212) solid;
}

.link:hover{
    background: transparent;
    color: black;
}
h2{
    color: var(--blueColor);
    letter-spacing: 1.65px;
    font-size: 51px;
    font-family: var(--interReg);
    margin-bottom: 20px;
   
}
h3{
    font-family: var(--interReg);
    letter-spacing: 0.66px;
    margin-top: 20px;
}
.main-content{
    display: flex;
    justify-content: center;
    background: #eaf9fc;
    margin-top: 250px;
    padding: 30px;
    border-radius: 20px;
}
.main-content-1{
    margin-top: 200px;

}
.main-content-1 h2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.title-2{
    display: flex;
    justify-content: space-between

}
.block-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 10px;
}
.block-p{
    font-family: var(--interL);
    letter-spacing: 0.36px;
    font-size: 18px;
    margin-top: 20px;
    user-select: none;
    color: #546285;
    text-align: center;
    line-height: 27px;
    width: 70%;
}
.card-img:hover{
    transform: scale(1.1, 1.1);
}
.card-img{
    transition: 500ms;
}
.bl-hover{
    transition: 500ms
}
.bl-hover:hover{
    transform: scale(1.1, 1.1);
    background: #35b7be29;
}
.menu{
    border-radius: 30px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.menu h2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.menu p{
    color: #546285;
    letter-spacing: 0.36px;
    font-family: var(--interL);
    line-height: 25px;
    font-size: 17px;
    text-align: center;
}
.menu span{
    color: var(--blueColor);
}
.list__links{
    display: flex;
    justify-content: center;
}
.list__links a{
    margin: 25px 20px 25px 20px;
}

.menu-1{
    display: flex;
    flex-direction: column;
}
.menu-2{
    display: flex;
    flex-direction: column;
}
.all__menu{
    display: flex;
    background: #35b7be3d;
    border-radius: 30px;
    padding: 20px;
}

.main-2{
    display: flex;
    flex-direction: column;
   
    margin-top: 190px;
}
.main-3{
    display: flex;
    padding: 15px;
    margin-top: 215px;
}
.main-3 span{
    color: #1B9097;
}
.main-3 h2{
    color: white;
    font-size: 50px;
    line-height: 60px;
    margin-left: 50px;
    width: 500px;
    letter-spacing: 1.65px;
    font-family: var(--interL);

}
.section-1{
    display: flex;

}
.section-2{
    display: flex;
    background: #eaf9fc;
    border-radius: 20px;
    margin-top: 230px;
    padding: 20px;
}

.section-2 a{
    padding: 20px;
}
.title-3{
    background: url(img/back-img.png);
    background-size: cover;
    display: flex;
    margin-left: 20px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.title-3 a{
    background: white;
    margin-left: 50px;
    color: var(--blueColor);
}
.title-3 a:hover{
    color: white;
    background: rgba(255, 255, 255, 0.623);
}

.footer-content{
    background: url(img/back-l__img.png);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
}
.footer-link{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    border-bottom: 1px #00000026 solid;
}

.footer-list{
    display: flex;
}
.links-1{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.links-1 p{
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: var(--interReg);
    color: #08090A;
    font-size: 13px;
    margin: 20px 10px 20px 10px;
}
.links-1 a{
  margin: 15px;
  color: #546285;
  font-family: var(--interL);
}
.logo__link p{
    color: #546285;
    margin-top: 20px;
    line-height: 20px;
    font-family: var(--interL);
}
.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__links a{
    font-size: 45px;
    padding: 0 10px 0 10px ;
    color: var(--blueColor);
}
.footer__h2{
    color: #353448;
    font-family: var(--interL);
    font-size: 16px;
    line-height: 27px;
}

.footer__h2 span{
    color: var(--blueColor);
}
.product__price span{
    color: black;
}

.price{
    position: absolute;
    left: -80px;
    bottom: 10px;
    
}
.link__btn{
    background: var(--blueColor) ;
    padding: 20px 35px 20px 35px;
    margin-top: 20px;
    font-family: var(--interL);
    user-select: none;
    width: 193px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    border: 1px rgb(31, 203, 212) solid;
}
.link__btn:hover{
    background: transparent;
    color: black;
}
.addCart{
    background: var(--blueColor) ;
    padding: 20px 35px 20px 35px;
    margin-top: 20px;
    font-family: var(--interL);
    width: 193px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    display: flex;
    user-select: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    border: 1px rgb(31, 203, 212) solid;
}
.addCart:hover{
    background: transparent;
    color: var(--blueColor);
}


.receipt {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    background: rgba(0, 0, 0, 0.274);
    display: none;
    opacity: 0;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}
.receipt.active .receipt__window{
    width: 30%;
    min-height: 50%;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    top: -100%;
    position: absolute;
}
.receipt__window-out {
    flex-grow: 1;
    align-self: stretch;
    padding: 15px;
    white-space: pre-wrap;
}
.receipt__window-btn {
    padding:10px 15px;
    text-transform: uppercase;
    color: #fff;
    background: #008000;
    font-size: 17px;
    border: none;
    user-select: none;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
}
.receipt__window-title {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

.nav-2.active{
    background: #71859c;
    position: fixed;
    transform: translateY(0);
    left: 0;
    height: 12%;
    right: 0;
    z-index: 1;
    top: 0;
}
.nav-link.active:hover{
    color: white;
}

.nav-link.active{
    color: white;
}


.img-tm{
    transition: 500ms;
}
.img-tm:hover{
    transform: scale(1.1, 1.1);
}

.nav__2img1{
    margin-top: 15px;
    border-radius: 25px;
}
.nav__2img2{
    display: none;
    border-radius: 25px;
    margin-top: 15px;
}


/* .nav__2img1.active{
    display: none;
} */
.nav__2img2.active{
    display: flex;
}